<h3>Contractants</h3>

<section>
    <h3>Société</h3>
    <input type="text" name="nom_societe" placeholder="Nom de la société" />
    <input type="text" name="adresse_societe" placeholder="Adresse de la société" />
    <input type="text" name="cp_societe" placeholder="Code postale de la société" />
    <input type="number" name="siret_societe" placeholder="Siret de la société" />
    <input type="number" name="tel_societe" placeholder="Téléphone de la société" />
</section>

<section>
    <h3>Client</h3>
    <input type="text" name="nom_client" placeholder="Nom du client" />
    <input type="text" name="adresse_client" placeholder="Adresse du client" />
    <input type="number" name="cp_client" placeholder="Code postale du client" />
    <input type="text" name="ville_client" placeholder="Ville du client" />
</section>

<button>Créer la facture</button>
@code {

}
