@page "/"

@using Facturation.Shared 
@inject NavigationManager nav_fact

<h1>Hello, world!</h1>

Welcome to your new app.

<button><a href="/info">Liste des factures</a></button>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{ 
    private void Page_nouvelle_facture()
    {
        nav_fact.NavigateTo("/Contractants");
    }
}